<div class="container">
    <div class="welcome">
        <h1>Welcome</h1>
    </div>
    <div class="user-name">
        <p>{{userName}}</p>
        <input type="text">
    </div>
    <div class="user-email">
        <p>{{auth.getEmail()}}</p>
    </div>
    <div class="btn-container">
        <button class="btn update" (click)="confirmUpdate()" [ngClass]="{close:show}">{{!show? 'Update user-name': 'Confirm'}}</button>
        <button class="btn cancel" *ngIf="show">Cancel</button>
    </div>
    
</div>
